{% extends "layout.html" %}

{% block body %}

    <form class="form-register" action="{{ url_for('index') }}" method="post">
        <h4>Formulario</h4>
        <input class = "controls" type="text" name="nombres" id="nombres" placeholder="Enter your name here">
        <input class = "controls" type="text" name="apellidos" id="apellidos" placeholder="Enter your surname here">
        <input class = "controls" type="text" name="correo" id="correo" placeholder="Enter your mail here">
        <input class = "controls" type="text" name="number" id="number" placeholder="Enter your phone number here">
        <input class = "controls" type="text" name="estudios" id="estudios" placeholder="Enter your university here">
        <input class = "controls" type="text" name="habilities" id="habilidades" placeholder="Enter your skills here">
        <input class = "controls" type="text" name="presentacion" id="presentacion" placeholder="Enter a presentation here">
        <input class = "controls" type="text" name="experiencia" id="experiencia" placeholder="Enter your experiences here">
        <p>Estoy de acuerdo con <a href="{{ url_for('condiciones') }}">Terminos y Condiciones</a></p>
        <button class = "botons">Registrar</button>
    </form>

    
{% endblock %}
