{% extends "layout.html" %}

{% block body %}
    
    <form class="form-register" action="/login" method="POST" id="login">
        <h4>Login</h4>
        <input class = "controls" type="email" name="email" id="email" placeholder="Enter your email here">
        <input class = "controls" type="password" name="password" id="password" placeholder="Enter your password here">
        <p>Estoy de acuerdo con <a href="{{ url_for('condiciones') }}">Terminos y Condiciones</a></p>
        <button type="submit" class="botons">Ingresar</button>
        <p>Aun no tienes una cuenta? <a href="{{ url_for('register') }}">Crea una!</a></p>
        
    </form>

    
{% endblock %}