{% extends "layout.html" %}

{%block title%}Registro{%endblock%}

{% block body %}
    
    <form class="form-register" action="{{ url_for('register') }}" method="POST" id="register">
        <h4>Register</h4>
        <input class = "controls" type="text" name="correo" id="correo" placeholder="Enter your mail here">
        <input class = "controls" type="text" name="username" id="username" placeholder="Enter your username here">
        <input class = "controls" type="text" name="password" id="password" placeholder="Enter your password here">
        
        <p>Estoy de acuerdo con <a href="{{ url_for('condiciones') }}">Terminos y Condiciones</a></p>
        <a href="{{ url_for('index') }}" class="botons">Registrar</a>
        
    </form>

    
{% endblock %}