{% extends "layout.html" %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded',() => {
        document.querySelector('#register').onsubmit = () => {
            localStorage.setItem('correo', document.querySelector('#correo').value);
            localStorage.setItem('username', document.querySelector('#username').value);
            localStorage.setItem('password', document.querySelector('#password').value);                    
        }
        
    });
</script>
    <form class="form-register" action="{{ url_for('index') }}" method="POST" id="register">
        <h4>Register</h4>
        <input class = "controls" type="text" name="correo" id="correo" placeholder="Enter your mail here">
        <input class = "controls" type="text" name="username" id="username" placeholder="Enter your username here">
        <input class = "controls" type="text" name="password" id="password" placeholder="Enter your password here">
        
        <p>Estoy de acuerdo con <a href="{{ url_for('condiciones') }}">Terminos y Condiciones</a></p>
        <input class = "botons" type="submit" name="boton" value="Registrar">
        
    </form>

    
{% endblock %}